@font-face {
    font-family: 'Super Indie';
    src: url('SuperIndie.woff2') format('woff2'),
        url('SuperIndie.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

