@import url("fonts/Josefin Sans/stylesheet.css");
@import url("fonts/Super Indie/stylesheet.css");
@import "tailwindcss";

@theme {
  --color-accent: #2b2d42;
  --color-primary: #edf2f4;
  --color-secondary: #6290c3;

  --font-display: "Josefin Sans", sans-serif;
  --font-stylized: "Super Indie", sans-serif;
}

body {
  background-color: #edf2f4;
  text-align: center;
  width: 100% !important;
  margin: 0 !important;
}

#page-contents {
  max-width: 900px !important;
  margin: 2rem auto;
  display: inline-block;
}

.force-normal-text {
  font-family:
    "Inter",
    -apple-system,
    sans-serif !important;
}

#page-list {
  position: absolute;
  left: 0;
  top: auto;
  right: auto;
  bottom: 0;
  max-width: 30%;
}

#page-contents > * {
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  /*background-color: #a4c2f4;*/
  font-family: "Super Indie", sans-serif;
  font-weight: normal;
  background-color: #6290c3;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 1rem 0.5rem 1rem 0.6rem;
}

/*p,
h1,
h2,
h3,
div {
  text-align: center;
}*/

#sticky-header {
  position: sticky;
  display: block;
  padding: 1em;
  top: 0;
  z-index: 1000; /* Keeps it on top of other overlapping content */
  background-color: #edf2f4;
}

img {
  margin-bottom: 1rem;
}

video {
  object-fit: contain;
}

@media only screen and (max-width: 767px) {
  #sticky-header {
    padding: 2em 1em 1em 1em;
  }
}

body {
  font-family:
    "Inter",
    -apple-system,
    sans-serif;
}

@font-face {
  font-family: "Inter";
  src:
    url("InterVariable.woff2") format("woff2-supports-variations"),
    url("InterVariable.woff2") format("woff2");
  font-weight: 100 900; /* This enables all weights seamlessly */
  font-style: normal;
}

.lst-kix_7giy96818kut-7 > li:before {
  content: "-  ";
}
.lst-kix_7giy96818kut-6 > li:before {
  content: "-  ";
}
ul.lst-kix_7giy96818kut-3 {
  list-style-type: none;
}
.lst-kix_7giy96818kut-4 > li:before {
  content: "-  ";
}
ul.lst-kix_7giy96818kut-4 {
  list-style-type: none;
}
ul.lst-kix_7giy96818kut-1 {
  list-style-type: none;
}
.lst-kix_7giy96818kut-3 > li:before {
  content: "-  ";
}
.lst-kix_7giy96818kut-5 > li:before {
  content: "-  ";
}
ul.lst-kix_7giy96818kut-2 {
  list-style-type: none;
}
ul.lst-kix_7giy96818kut-7 {
  list-style-type: none;
}
ul.lst-kix_7giy96818kut-8 {
  list-style-type: none;
}
ul.lst-kix_7giy96818kut-5 {
  list-style-type: none;
}
ul.lst-kix_7giy96818kut-6 {
  list-style-type: none;
}
.lst-kix_7giy96818kut-0 > li:before {
  content: "-  ";
}
.lst-kix_7giy96818kut-1 > li:before {
  content: "-  ";
}
.lst-kix_7giy96818kut-2 > li:before {
  content: "-  ";
}
.lst-kix_z14i41wxu9uy-0 > li:before {
  content: "-  ";
}
ul.lst-kix_7giy96818kut-0 {
  list-style-type: none;
}
.lst-kix_z14i41wxu9uy-2 > li:before {
  content: "-  ";
}
.lst-kix_z14i41wxu9uy-1 > li:before {
  content: "-  ";
}
.lst-kix_z14i41wxu9uy-3 > li:before {
  content: "-  ";
}
.lst-kix_z14i41wxu9uy-5 > li:before {
  content: "-  ";
}
.lst-kix_z14i41wxu9uy-4 > li:before {
  content: "-  ";
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
ul.lst-kix_z14i41wxu9uy-5 {
  list-style-type: none;
}
ul.lst-kix_z14i41wxu9uy-6 {
  list-style-type: none;
}
ul.lst-kix_z14i41wxu9uy-3 {
  list-style-type: none;
}
ul.lst-kix_z14i41wxu9uy-4 {
  list-style-type: none;
}
ul.lst-kix_z14i41wxu9uy-1 {
  list-style-type: none;
}
ul.lst-kix_z14i41wxu9uy-2 {
  list-style-type: none;
}
ul.lst-kix_z14i41wxu9uy-0 {
  list-style-type: none;
}
.lst-kix_7giy96818kut-8 > li:before {
  content: "-  ";
}
.lst-kix_z14i41wxu9uy-6 > li:before {
  content: "-  ";
}
.lst-kix_z14i41wxu9uy-7 > li:before {
  content: "-  ";
}
.lst-kix_z14i41wxu9uy-8 > li:before {
  content: "-  ";
}
ul.lst-kix_z14i41wxu9uy-7 {
  list-style-type: none;
}
ul.lst-kix_z14i41wxu9uy-8 {
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c9 {
  background-color: #edf2f4;
  color: #2b2d42;
  font-weight: bold;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 20pt;
  font-family: "Inter";
  font-style: normal;
}
.c18 {
  background-color: #edf2f4;
  color: #2b2d42;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1.8rem;
  font-style: normal;
}
.c2 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
  height: 11pt;
}
.c11 {
  color: #2b2d42;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1.1rem;
  font-style: normal;
}
.c1 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c0 {
  color: #2b2d42;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1.1rem;
  font-family: "Inter";
  font-style: normal;
}
.c3 {
  padding-top: 20pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c7 {
  padding-top: 0pt;
  padding-bottom: 3pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c4 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.header-text {
  cursor: default;
  text-align: center;
}

#name {
  background-color: #a4c2f4;
  color: #2b2d42;
  font-weight: bold;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 2.6rem;
  font-style: normal;
  text-align: center;
}
.c5 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c16 {
  color: #2b2d42;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1.1rem;
  font-style: normal;
}
.c20 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
}
.c12 {
  background-color: #edf2f4;
  max-width: 468pt;
  padding: 36pt 72pt 72pt 72pt;
}
/*.c10 {
  font-weight: 400;
  font-family: "Inter";
}*/
.c13 {
  padding: 0;
  margin: 0;
}
.c15 {
  color: inherit;
  text-decoration: inherit;
}
.c8 {
  font-weight: 700;
  font-family: "Inter";
}
.c14 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.c6 {
  text-indent: 36pt;
}
.c19 {
  font-style: italic;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 1.5rem;
  padding-bottom: 16pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #2b2d42;
  font-size: 1.1rem;
}
/*p {
  /*margin: 0;*/
/*color: #2b2d42;*/
/*font-size: 1.1rem;*/
/*}*/
h1 {
  padding-top: 20pt;
  color: #2b2d42;
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 1.8rem;
  color: #2b2d42;
  font-size: 16pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 1.4rem;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 1.2rem;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 1.1rem;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 1.1rem;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
